.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  z-index: 1000;
  top: 0;

  width: 97%; 
}
/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */

/* --- LOGO STYLES --- */
.navbar-logo-link {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-logo-link span {
  color: #ed5a5a;
}

/* NAV LINKS */
.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 20px;
}

.navbar-link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ecbbbb;
}

/* THEME TOGGLE BUTTON */
.theme-toggle-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  
}

.theme-toggle-button:hover {
  background-color: #555;
}
